// Advent of Code #year# - Day #day# : #title#

function all(input) {
  // TODO implement this
  let part1 = 'Not implemented yet';
  let part2 = 'Not implemented yet';
  return [ part1, part2 ];
}

module.exports = { all };
